aspose-words==24.10.0
Aspose.Slides==24.10.0
mediapipe==0.10.15
opencv-python==4.10.0.84
cvzone==1.6.1
numpy==1.26.4
opencv-contrib-python==4.10.0.84
pandas==2.2.3
pillow==10.4.0
python-pptx==1.0.2
requests==2.32.3
streamlit==1.39.0